<div class="container-fluid justify-content-center">


<a class="social mx-1"  href="mailto:josh.david.levy@gmail.com">
  <i class="nes-icon gmail "></i>
</a>

<a class="social mx-1"  href="https://www.facebook.com/josh.david.levy">
  <i class="nes-icon facebook "></i>
</a>	

<a class="social mx-1"  href="https://www.linkedin.com/in/joshdavidlevy">
  <i class="nes-icon linkedin "></i>
</a>

<a class="social mx-1"  href="https://www.github.com/joshdavidlevy">
  <i class="nes-icon github "></i>
</a>

<a class="social mx-1"  href="https://medium.com/@josh.levy">
  <i class="nes-icon medium "></i>
</a>

<a class="social mx-1"  href="https://www.twitter.com/joshlevy">
  <i class="nes-icon twitter "></i>
</a>

<a class="social mx-1"  href="https://www.youtube.com/channel/UCGkEwa_YMzXiBe4ZsiRdEig">
  <i class="nes-icon youtube "></i>
</a>







</div>