@font-face {
    font-family: 'more_perfect_dos_vgaregular';
    src: url('/assets/webfonts/moreperfectdosvga-webfont.woff2') format('woff2'),
         url('/assets/webfonts/moreperfectdosvga-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: monospace;
}

.no-hover:hover{
    text-decoration: none;
}